# Secrets
*.pub
*.key
*.decrypted~*.yaml
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
# Template config files
/cluster.yaml
/nodes.yaml
# Kubernetes
kubeconfig
talosconfig
# Editors
.vscode/
# Ansible
xanmanning.k3s*
# Sops
.decrypted~*
# Misc.
.DS_Store
Thumbs.db
bin
/flux
*.iso
.temp*
.private/
.logs/
.task/
.env
.venv
auth
master.key
*.snap
setup/cluster/*cluster.yml
Brewfile.lock.json
onepassword.env
.talos