
# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# Binaries
bin
/flux
*.iso
# Temp folders
.temp*
.private/
.logs/
.task/
# Ansible
xanmanning.k3s*
# Sops
.decrypted~*
# Kubernetes
kubeconfig
# Other
report.html
.env
auth
master.key
*.snap
setup/cluster/*cluster.yml

/.private/
/.task/
/.venv/
*.crt
*.key
.decrypted~*
.DS_Store
Brewfile.lock.json
Thumbs.db
kubeconfig
onepassword.env
talosconfig
