[defaults]
inventory               = ./inventory.yaml
playbook_dir            = ./playbooks
roles_path              = ./roles
interpreter_python      = auto_silent
remote_user             = andy
project_path            = "{{ lookup('pipe', 'git rev-parse --show-toplevel') }}"

